body    {
    box-sizing: inherit;


}

div    {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: red;
}
.hh {
    display: flex;
}
.btn    {
    width: 40px;
    height: 40px;
    background-color: #000;
    display: block;
}